.Bibles h1{
    text-align: center;
}
.Bibles .Heading{
    margin-bottom: 10px;
}
.Bibles hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 40px;
}
.Bibles-cont{
    margin-bottom: 20px;
}
