.Book{
    border: 1px solid rgba(0, 0, 0, 0.445);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.Book:hover{
    background-color: #4A4E69;
    color: white;
    transition: all ease-in-out 300ms;
    cursor: pointer;
}